<link rel="stylesheet" href="~/css/StyleSheet1.css">

@{
    ViewData["Title"] = "FindShips";
}

@model ShipRoot

<h1>FindShips</h1>

<table class="table-bordered">

    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Passengers</th>
        <th>Cargo Capacity</th>
        <th>Hyperdrive Rating</th>
    </tr>

    <tr>
        <td>@Model.name</td>
        <td>@Model.model</td>
        <td>@Model.manufacturer</td>
        <td>@Model.passengers</td>
        <td>@Model.cargo_capacity</td>
        <td>@Model.hyperdrive_rating</td>
    </tr>

</table>