<link rel="stylesheet" href="~/css/StyleSheet2.css">

@{
    ViewData["Title"] = "SearchByPlanetName";
}

@model PlanetRoot
<h1>Search Results</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Climate</th>
        <th>Terrain</th>
        <th>Population</th>
        <th>Link</th>
    </tr>
    @foreach (var results in Model.results)
    {
        <tr>
            <td>@results.name</td>
            <td>@results.climate</td>
            <td>@results.terrain</td>
            <td>@results.population</td>
            <td><a href="@results.url">@results.url</a></td>
        </tr>

    }
</table>

